*{
padding: 0px;
margin: 0px;
}
/*navigatin-part*/

#navigation-bar{
    display: flex;
    background-color: rgb(198, 198, 255);
}
.navigation{
    justify-content: start;
    padding-left: 20px;
    padding-right: 220px;
}
.nav_items{
    display: flex;
    gap: 2rem;
    padding-top: 20px;
}
.nav_items a{
    text-decoration: none;
    color: black;
}
.register{
    display: flex;
    padding-top: 20px;
    padding-left: 400px;
    gap: 10px;
}
.log-in button{
    height: 30px;
    width: 50px;
    background-color: rgb(181, 181, 255);
    border: none;
    border-radius: 20px;
}
.sign-in button{
    height: 30px;
    width: 80px;
    background-color: rgb(105, 105, 231);
    border: none;
    border-radius: 20px;
}
/*main*/
#Main{
    margin-bottom: 20px;
}
.main-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 80px;
    box-shadow: 1px 2px 5px rgba(1, 1, 1, 3);
}
.picture{
    padding-top: 140px;
}
.text{
    font-size: 40px;
    padding-top: 100px;
}
.container-1{
    display: flex;
    font-size: 28px;
    padding-top: 60px;
}
.container-1 p{
    padding-top: 13px;
}
.container-2{
    display: flex;
    font-size: 28px;
    padding-top: 30px;
}
.container-2 p{
    padding-top: 13px;
}
.container-3{
    display: flex;
    font-size: 28px;
    padding-top: 30px;
}
.container-3 p{
    padding-top: 13px;
}

/*aboutus*/
.aboutus{
    text-align: center;
    padding-top: 60px;
    margin-bottom: 30px;
}
.aboutus p{
    padding-top: 30px;
    font-weight: 5px;
}
.div-box{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0px 120px;
}
.box{
    box-shadow: 2px 2px 2px 2px black ;
    border: solid gray 0px;
    border-radius: 10px;
}
.div-box img{
    height: 60px;
   margin: 20px;
}
.box h2{
    padding: 20px;
}
.box-1 p{
    margin-top: 50px;
    padding: 20px;
}
.box-2 p{
    margin-top: 20px;
    padding: 20px;
}
.box-3 p{
    margin-top: 50px;
    padding: 20px;
}
/*container-4 section*/
#container-4 h1{
    padding: 50px;
}
.content-1{
    margin-bottom: 00px;
    display: flex;
    justify-content: center;
    gap: 240px;
    color: white;
    background-color: rgb(38, 38, 114);
}
.content-1 p{
    font-size: 40px;
    padding: 80px 0px;
}
.content-1 button{
    border: solid 0px;
    background-color: orange;
    height: 50px;
    margin-top: 80px;
    width: 150px;
    border-radius: 40px;
}
/*footer section*/
#footer{
    background-color: rgb(181, 181, 255);
    height: 300px;
}
.footer-content-1{
    padding-top: 40px;
}
.icon-logo{
    padding-top: 100px;
}
.icon-logo a{
    padding-right: 20px;
}
.contactus{
    padding-top: 90px;
}
.footer-content{
    display: flex;
    justify-content: center;
    gap: 150px;
}



